$brandColor: #1F1F1F;
$white: #ffffff;
$clearWhite: #F3F3F3;
$darkWhite: #DBDBDB;
$grey: #787a7c;


:export {
    brandColor: $brandColor;
    white: $white;
    clearWhite: $clearWhite;
    darkWhite: $darkWhite;
    grey: $grey;
}
