$grey: #777777;
$white: #ffffff;
$pink: #ffd6fb;
$darkWhite: #F3F3F3;
$black: black;
$green: #E3F88F;
$blue: #266DCC;

:export {
  grey: $grey;
  white: $white;
  darkWhite: $darkWhite;
  pink: $pink;
  black: $black;
  green: $green;
  blue: $blue;
}
