@import "@/app/styles/variables.scss";
@import "@/app/styles/mixins.scss";

.skill {
  display: flex;
  height: 100vh;
  background-color: $grey;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  &.inView {
    opacity: 1;
  }

  .skillSection {
    display: flex;
    padding: 120px 50px 45px 0px;
    flex-grow: 1;
    gap: 40px;
    @include respond-to("tablet") {
      padding: 120px 50px 20px 50px;
      flex-direction: column;
      justify-content: space-between;
    }
    @include respond-to("mobile") {
      padding: 120px 20px 20px 20px;
    }

    .titleSection {
      display: none;
      color: $pink;
      font-size: 20px;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 20px;
      @include respond-to("tablet") {
        display: block;
      }
      @include respond-to("mobile") {
        display: none;
      }
    }
    .skillContent {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 40px;
      flex-grow: 1;
      overflow: auto;
      .skillTable {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        gap: 30px;
      
        // For responsiveness, when the screen size is smaller, it switches to column layout
        @media (max-width: 768px) {
          flex-direction: column;
          align-items: center;
          overflow: auto;
        }
      
        .card {
          flex: 1;
          padding: 1.5rem;
          background-color: $white;
          border-radius: 16px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          flex-grow: 1;
          gap: 40px;
          // border: 2px solid $green;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          transition: transform 0.3s ease, background-color 0.3s ease;
      
          &:hover {
            transform: translateY(-5px);
          }
      
         
         
          .cardContent {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .cardImage {
              border-radius: 8px; // Adjust the radius as needed
              overflow: hidden; // Ensures the border radius is applied correctly
            }
      
            .cardTitle {
               font-size: 22px;
                font-weight: 300;
                color: $pink;

            }
      
            .cardDetail {              
                font-size: 17px;
                color: $darkWhite;
                font-weight: 400;
                @include respond-to("tablet") {
                  font-size: 16px;
                }
              
              
            }
          }
          .button {
            background-color: $green;
            border-radius: 8px;
            color: $black;
            cursor: pointer;
            flex-shrink: 0;
            padding: 15px 20px;
            font-weight: 600;
            font-size: 16px;
            line-height: 135%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: fit-content;
            gap: 20px;
        }
          // Card content styling
        
        }
      }
      
    }
    .counter {
      display: none;
      line-height: 70px;
      align-items: flex-start;
      margin-top: 10px;
      color: $pink;
      @include respond-to("tablet") {
        display: flex;
      }
      @include respond-to("mobile") {
        display: none;
      }

      .currentPage {
        font-size: 70px;
        font-weight: 600;
      }
      .totalPages {
        font-size: 18px;
        font-weight: 400;
        max-height: 27px;
        line-height: 35px;
      }
    }
  }
}
