@import '@/app/styles/variables.scss';
.contactBackground{
    width: 100vw;
    background-color: $black;
    .contact{ 
        display: flex;
        height: 100vh;
        
        .contactSection{
            padding: 120px 50px 45px 0px;
            flex-grow: 1;
            display: flex;
            color: $pink;
            justify-content: space-between;
            align-items: center;
          
                .contactTitle{
                    font-size: 50px;
                    font-weight: 500;
                    min-width: 250px;
                }
                .arrow{
                    display: flex;
                    position:relative;
                    align-items: center;
                    
                    width: 100%;
                    flex-grow: 1;
                    .arrowBody{
                        height: 3px;
                        width: 100%;
                        background-color: $pink;
                    }
                    .arrowupperLine{
                        position: absolute;
                        top: -16px;
                        right: -7px;
                        background-color: $pink;
                        width: 17px;
                        height: 3px;
                        transform: rotate(45deg) translate(5px, 10px);
                    }
                    .arrowbellowLine{
                        position: absolute;
                        top: 1px;
                        right: 7px;
                        background-color: $pink;
                        width: 17px;
                        height: 3px;
                        transform: rotate(-45deg) translate(5px, 10px);
                    }
    
            }
            .contactInfo{
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin-left: 20px;
                min-width: 205px;
                align-items: end;
                justify-content: end;
                height: 225px;
                .contactText{
                    font-size: 30px;
                    font-weight: 300;
                }
            }
    
        }
    }
}