@import "@/app/styles/variables.scss";

.portfolioBackground {
  background-color: $grey;
  width: 100vw;

  .portfolio {
    display: flex;
    height: 100vh;
    position: relative;
    .portfolioSection {
      margin: 120px 0px 130px 0px;
      display: flex;
      align-items: center;
      border-left: solid $pink 1px;
      flex-grow: 1;
      overflow-x: auto;
      overflow-y: hidden;
      scroll-snap-type: mandatory;
      scroll-snap-points-x: repeat(3rem);
      scroll-snap-type: x mandatory;

      .buttonsList {
        position: absolute;
        bottom: 45px;
        right: 70px;
        display: flex;
        gap: 20px;
        .leftButton {
          color: $green;
          padding: 10px;
          border-radius: 50%;
          border: 1px solid $green;
          font-size: 25px;
          cursor: pointer;
        }
        .rightButton {
          color: $green;
          padding: 10px;
          border-radius: 50%;
          border: 1px solid $green;
          font-size: 25px;
          cursor: pointer;
        }
        .isDisabled {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }
      .projectList {
        color: $pink;
        display: flex;
        height: 100%;
        position: relative;
        scroll-behavior: smooth;

        .itemCard {
          border-right: solid $pink 1px;
          scroll-snap-align: start;
          
          .item {
            width: 400px;
            height: 100%;
            padding: 40px;
            display: flex;
            align-items: flex-end;
            position: relative;

            .number {
              transform: rotate(-90deg);
              font-weight: 400;
              font-size: 22px;
              position: absolute;
              bottom: 33px;
            }
            .name {
              text-transform: uppercase;
              flex-grow: 1;
              width: 450px;
              font-weight: 500;
              font-size: 44px;
              transform: rotate(-90deg);
              position: absolute;
              top: 173px;
              right: 80px;
            }

            .description {
              display: none;
            }
            .roundButton {
              display: none;
            }
          }
          &:hover {
            transition: all 0.2s ease-in-out;
            background-color: rgba(255, 214, 251, 0.4);
            .item {
              flex-direction: column;
              align-items: normal;
              display: flex;
              justify-content: flex-end;

              .description {
                display: flex;
                color: $white;
                font-family: "Crimson Pro", serif;
                font-size: 17px;
                font-weight: 400;
                transform: none;
                margin-top: 20px;
                animation: hover-zoom .2s linear;
              }
              @keyframes hover-zoom {
                0% {
                  transform: scale(0);
                }
                100% {
                  transform: scale(1);
                }
              }
              .number {
                position: static;
                transform: none;
                animation: hover-number .2s linear;
              }
              @keyframes hover-number {
                0% {
                  transform: translateX(0px) translateY(173px);
                }
                50% {
                  transform: translateX(0%) translateY(50%);
                }
                100% {
                  transform: translateX(0%) translateY(0%);
                }
              }

              .name {
                position: static;
                transform: none;
                animation: hover-name .2s ease-in forwards;
                // transition: transform 0.5s linear;
              }
              @keyframes hover-name {
                0% {
                  transform: rotate(-90deg) translateX(0px) translateY(-173px);

                  max-height: 0;
                  width: 450px;
                }
                50% {
                  transform: rotate(-45deg) translateX(initial)
                    translateY(initial);
                }
                100% {
                  transform: rotate(0deg) translateX(0%);
                  max-height: 132px;
                  width: auto;
                }
              }
              .roundButton {
                display: flex;
                justify-content: end;
              }
            }
          }
          &:not(:hover) {
            .item {
              .name {
                animation: unhover-name .2s linear;
              }
              @keyframes unhover-name {
                0% {
                  transform: rotate(0deg) translateX(0px) translateY(0px);
                  max-height: 132px;
                  width: auto;
                }
                50% {
                  transform: rotate(-45deg) translateX(initial)
                    translateY(initial);
                  max-height: 132px;
                  width: auto;
                }
                100% {
                  transform: rotate(-90deg) translateX(0%);
                  width: auto;
                }
              }
              .number {
                animation: unhover-number .2s linear;
              }
              @keyframes unhover-number {
                0% {
                  transform: rotate(0deg) translateX(0px) translateY(-600%);
                }
                50% {
                  transform: translateX(0px) translateY(0px);
                }
                100% {
                  transform: rotate(-90deg);
                }
              }
              // evaluating to if will use
              // .description {
              //   transform: none;
              //   animation: hover-zoom 1s ease-in;
              // }
              // @keyframes unhover-zoom {
              //   0% {
              //     transform: scale(1);
              //   }
              //   100% {
              //     transform: scale(0);
              //   }
              // }
            }
          }
        }
      }
    }
  }
}
