@import '@/app/styles/variables.scss';
.portfolio {
  display: flex;
  height: 100vh;
  background-color: $brandColor;
  .portfolioSection {
    margin: 200px 0px 70px 0px;
    display: flex;
    align-items: center;
    border-left: solid grey 1px;
    flex-grow: 1;
    overflow-x: auto;
    overflow-y: hidden;

    .projectList {
      color: white;
      display: flex;
      height: 100%;
      position: relative;

      .item {
        border-right: solid grey 1px;
        width: 400px;
        height: 100%;
        padding: 40px;
        display: flex;
        align-items: end;
        position: relative;
        &:hover {
          background-color: grey;
        }

        .number {
          transform: rotate(-90deg);
          font-weight: 400;
          font-size: 22px;
          position: absolute;
          bottom: 33px;
        }
        .name {
          flex-grow: 1;
          max-width: 100%;
          font-weight: 400;
          font-size: 44px;
          transform: rotate(-90deg);
          transform-origin: top left;
          position: absolute;
          bottom: -30px;
          left: 46px;
        }
      }
    }
  }
}
