@import "@/app/styles/variables.scss";
.about {
  // max-width: 1440px;
  // margin: auto;
  display: flex;
  height: 100vh;
  .aboutSection {
    padding: 120px 50px 70px 0px;
    color: white;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;

    // .aboutTitle {
    //   font-size: 50px;
    //   font-weight: 500;
    //   color: $pink;
    // }
    .aboutContent {
      color: $darkWhite;
      display: flex;
      justify-content: space-between;
      align-items: end;
      font-family: 'Crimson Pro', serif;

      .aboutText {
        font-size: 17px;
        font-weight: 400;
        display: flex;
        max-width: 520px;
        gap: 20px;
        
      }
    }
    .aboutMidia {
      display: flex;
      width: 100%;
      flex-grow: 1;
      gap: 20px;
      justify-content: space-between;
      .aboutImage {
        background-image: url("../../../../public/images/profile-image.png");
        background-size: cover;
        height: 100%;
        width: 35%;
      }
      .aboutVideo {
        height: 100%;
        width: 55%;
      }
    }
  }
}
