@import '@/app/styles/variables.scss';

.homePage{
    width: 100vw;
    height: 100vh; 
    background-image: url('../../../../public/images/tie-dye.png');
    background-size: cover;
    display: flex;
    .homePagesection{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 200px 0px 68px 0px;
        color: $brandColor;
        h1{
            font-size: 70px;
            font-weight: 400;
            line-height: 90px;
        }
    }
}