@import "@/app/styles/variables.scss";
@import '@/app/styles/mixins.scss';


.sideNavCounter {
  height: 100vh;
  min-width: 393px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 120px 0px 60px 110px;
  color: $pink;
  @include respond-to("tablet") {
    display: none;
  }

  .nameSection {
    font-size: 20px;
    font-weight: 700;
  }
  .counter {
    display: flex;
    line-height: 70px;
    align-items: flex-start;

    &.black {
      color: $black;
    }

    .currentPage {
      font-size: 70px;
      font-weight: 600;
    }
    .totalPages {
      font-size: 18px;
      font-weight: 400;
      max-height: 27px;

      line-height: 35px;
    }
  }
}
